<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" media="screen" href="~/styles/site.css" />
</head>

<body>
  <div id="sidebar">
    <img src="~/img/img.png" alt="profile picture" class="headshot">
    <span id="username">John Bird</span>
    <ul class="menu">
      <li class="active"><a asp-controller="App" asp-action="Index">Home</a></li>
      <li><a asp-controller="App" asp-action="about">About</a></li>
      <li><a asp-controller="App" asp-action="contact">Contact</a></li>
    </ul>
  </div>

  <div id="wrapper">
    <div id="main">
      <div>
        <button id="sidebarToggle">Hide Sidebar</button>
      </div>
      @RenderBody()
    </div>
    <div id="footer">
      &copy; 2017. The World Ltd.
    </div>
  </div>

  <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
  @RenderSection("scripts", false)
  
  <script type="text/javascript" src="~/js/site.js"></script>
</body>

</html>
