@model TheWorld.ViewModels.ContactViewModel 
@{
    ViewBag.Title = "Contact Page";
    Layout = "_Layout";
}

@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<h2>Contact Me</h2>

 <form method="post">
     <span asp-validation-summary="ModelOnly"></span>
     <label asp-for="Name"></label>
     <input asp-for="Name" />
     <label asp-for="Email"></label>
     <input type="email" asp-for="Email" />
     <label asp-for="Message"></label>
     <textarea asp-for="Message" id="" cols="40" rows="4"></textarea>
     <input type="submit" value="Send Message" />
 </form>